{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<section>
    <div class="container-fluid">
       <div class="col-50">
          <div class="col-md-15">
             <div class="container-fluid">
                    <br>
                        <a href="{% url 'book' %}">
                            <button type="submit" class="btn btn-primary text-center" style="color: white;">Check In Parking Slot
                 </button></a>
                        <a href="{% url 'ticket' %}">
                            <button type="submit" class="btn btn-primary text-center" style="color: white;">Print Ticket
                 </button></a>
                        <a href="{% url 'checkout' %}">
                            <button type="submit" class="btn btn-danger text-center" style="color: white;">
                                Checkout</button>           </a>
                 <br>
                 <br>
                    <h3 class="text-center  text-success">Parking Zones Details </h3>
             </div>
          </div>
          <div class="col-md-15">
          <div class="table-responsive">
               <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                   <thead>
                       <tr>
                           <th>Parking Zone</th>
                           <th>Location</th>
                           <th>Total Slots</th>
                           <th>Vacant Slots</th>
                           <th>Price</th>
                       </tr>
                   </thead>
                   <tbody>
                       {% for parking_zone in all_parking_zones %}
                       <tr>
                           <td>{{parking_zone.name}}</td>
                           <td>{{parking_zone.address}}</td>
                           <td>{{parking_zone.num_of_slots}}</td>
                           <td>{{parking_zone.vacant_slots}}</td>
                           <td>{{parking_zone.price}}</td>
                       </tr>
                       {% endfor %}


                   </tbody>
               </table>
          </div>
                       </div>
          <div class="col-md-15">
             <div class="container-fluid">
                 <h3 class="text-center  text-success">Ticket Records</h3>
                <p>User: {{request.user}}</p>
             </div>
          </div>
          <div class="col-md-15">
                       <div class="table-responsive">
                           <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                               <h5>Date - {{ today | date:"d/m/Y" }}</h5>
                               <thead>
                                   <tr>
                                     <th>Start Date</th>
                                     <th>Finish Date</th>
                                     <th>Paking Zone</th>
                                     <th>Plate Number</th>
                                     <th>Status</th>
                                   </tr>
                               </thead>

                               <tbody>
                                   {% for reservation in reservations %}
                                   <tr>
                                       <td>{{reservation.start_date}}</td>
                                       <td>{{reservation.finish_date}}</td>
                                       <td>{{reservation.parking_zone}}</td>
                                       <td>{{reservation.plate_number}}</td>
                                       {% if reservation.checked_out is True %}
                                         <td>Checked Out</td>
                                        {% else %}
                                         <td>Active</td>
                                       {% endif %}
                                   </tr>
                                   {% endfor %}


                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
             </div>
          </div>
       </div>
       </div>
    </div>
 </section>

{% endblock body %}